#logo {
     position: absolute;
     width: 100px;
     margin-top: -30px;
     margin-left: -110px;
}

.navbar-brand{
    margin-left: 110px;
}

.headerwrap {
     margin-top: 80px;   
     padding-bottom: 5px;
     padding-top: 5px;
     background-color: #e7e7e9;
}

.headerwrap.container{
    width: 100%;
}

#f {
    position: fixed;
    padding: 0 !important;
    height: 50px;
    bottom: 0;
    width: 100%;
    
    div{
        margin-top: -10px;
    }
}

.modal-footer{
    margin-top: 0px !important;
}

.modal-header{
    background-color: #222 !important;
}

.close{
    color: white !important;
}

.imgPreview {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input.ng-invalid, input.ng-invalid:invalid {
   background: #fba;
   /*override any styling giving you fits here*/
}