<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/theme.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/angular-motion.css">
    <!-- endbuild -->
  </head>
  <body ng-app="moonbowWebApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
     <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="#">
              <img id="logo" src="images/logo.png" class="img-responsive"/>
              Moonbow
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active"><a ui-sref="home">HOME</a></li>
            <li ui-sref-active="active"><a ui-sref="gallery">GALLERY</a></li>
            <li ui-sref-active="active" login-required><a ui-sref="me">MY AREA</a></li>
            <li login-required><a href="/" ng-click="logout()">LOGOUT</a></li>
            <li is-anonymous><a ui-sref="me" ng-click="login()">LOGIN</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>

    <div ui-view></div>
	
	<!-- FOOTER -->
	<div id="f">
			<div class="row centered">
				<a href="#"><i class="fa fa-lg  fa-twitter"></i></a>
				<a href="#"><i class="fa fa-lg fa-facebook"></i></a>
				<a href="#"><i class="fa fa-lg fa-dribbble"></i></a>
		
			</div><!-- row -->
	</div><!-- Footer -->


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script> 
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/NavCtrl.js"></script>
        <script src="scripts/controllers/MeCtrl.js"></script>
        <script src="scripts/services/backendService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/directives/loggedIn.js"></script>
        <!-- endbuild -->
</body>
</html>
