<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close();$hide()">&times;</button>
        <h4 class="modal-title">Add a new Sprite</h4>
      </div>
      <div class="modal-body">

<form role="form">
  <div class="form-group">
    <label for="fileModel.thetitle">Title</label>
    <input type="text" ng-model="$parent.thetitle" ng-minlength="5" ng-required required type="text" class="form-control" id="thetitle" placeholder="Enter title">
  </div>

<div class="form-group">
    <label for="file">Select image</label>
        <img class="imgPreview" ng-src="{{fileModel.dataUrl}}">
        <input ng-class="{'ng-invalid': !selectedFileOk()}" ng-hide="fileModel.dataUrl" type='file' ng-files-model='fileModel.selectedFiles'>
  </div>

<div class="form-group">
  <label>Make public</label>
  <div class="checkbox ">
    <label>
      <input type="checkbox" ng-model="$parent.makePublic"> Allow other users to use this sprite
    </label>
  </div></div>
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close();$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save(); $hide();">Save sprite</button>
      </div>
    </div>
  </div>
</div>